/* Center the loader */
#loader {
  position: absolute;
  left: 52%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #8b060c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#list-page {
  display: none;
  text-align: center;
}

body{
  background: url('../images/background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-page{
  font-family: 'Changa', sans-serif;
  margin-top:16.5%;
}

#home-text{
  font-size:30px;
  color: #8b060c;
  letter-spacing: 1px;
}

#season, #year {
  background-color: #fff1f1;
  color:#8b060c;
  border-radius: 100px;
  font-weight: bolder;
  font-size: 18px;
  border-color: #fff1f1;
  -moz-box-shadow: 0px 4px #ccc;
  -webkit-box-shadow: 0px 4px #ccc;
  box-shadow: 0px 4px #ccc;
}

#search-btn{
  background-color: #8b060c;
  border-color: #8b060c;
  border-radius: 100px;
  font-weight: bolder;
  color:#fffafa;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  -moz-box-shadow: 0px 4px #ccc;
  -webkit-box-shadow: 0px 4px #ccc;
  box-shadow: 0px 4px #ccc;
}
