/* Center the loader */
#loader {
  position: absolute;
  left: 52%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #a03237;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#list-page, #list-page-nav {
  display: none;
}

#list-page-nav{
position: -webkit-sticky; /* Safari & IE */
position: sticky;
top: 0;
background-color: #fffafa;
}

body{
  background: url('../images/background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-page{
  font-family: 'Changa', sans-serif;
  margin-top:16.5%;
}

#home-text {
  font-family: 'Changa', sans-serif;
  font-size:30px;
  color: #a03237;
  letter-spacing: 1px;
}

#season, #year, #list-season, #list-year {
  background-color: #fff1f1;
  color:#a03237;
  border-radius: 100px;
  font-weight: bolder;
  font-size: 18px;
  border-color: #fff1f1;
  -moz-box-shadow: 0px 4px #ccc;
  -webkit-box-shadow: 0px 4px #ccc;
  box-shadow: 0px 4px #ccc;
  font-family: 'Changa', sans-serif;
}

#search-btn, #list-search-btn{
  background-color: #a03237;
  border-color: #a03237;
  border-radius: 100px;
  font-weight: bolder;
  color:#fffafa;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  -moz-box-shadow: 0px 4px #ccc;
  -webkit-box-shadow: 0px 4px #ccc;
  box-shadow: 0px 4px #ccc;
  font-family: 'Changa', sans-serif;

}

#seasonime-title {
  font-family: 'Orbitron', sans-serif;
  color: #a03237;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.39em;
}

#header {
  font-family: 'Changa', sans-serif;
  font-size:40px;
  color: #a03237;
  letter-spacing: 1px;
  margin-top: 2%;
  font-weight: bold;
}

.row-list{
  background-color:#fff1f1;
  margin-top:3%;
  border-radius: 40px;
  padding-top:2%;
  padding-bottom: 2%;
  padding-left:1%;
}

#image-div{
overflow: hidden;
height:150px;
width: 225px;
border-radius: 30px ;
margin-top:2%;
}

#row0, #row1{
  display: none;
}

#anime-img0, #anime-img1{
position: relative;
top: -50px;

}

#anime-name0, #anime-name1{
  font-family: 'Changa', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #a03237;
  margin-top:2%
}

#anime-genre0, #anime-desc0,
#anime-genre1, #anime-genre1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top:-1%
}

#anime-sd0, #anime-ep0, #mobile-anime-score0,
#anime-sd1, #anime-ep1, #mobile-anime-score1{
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
}

#bold-info-text{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #a03237;
}

#rect-img{
  margin-top:-9%;
   z-index:2;
}

.start-date-row{
  margin-top: -2%;
}

.episodes-row{
  margin-top:-5%
}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {


  .start-date-row{
    margin-top: -5%;
  }

  .episodes-row{
    margin-top:-6%
  }

  #score-row, #rect-img, #add-to-list-text{
    display:none;
  }

  .mobile-score-row{
    margin-top: -6%;
  }

  .desc-row{
    margin-top:-4%;
  }


}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .info-col{
    margin-left: 10%;
  }

  .start-date-row{
    margin-top: -8%;
  }

  .episodes-row{
    margin-top:-10%
  }

  #score-row, #rect-img, #add-to-list-text{
    display:none;
  }

  .mobile-score-row{
    margin-top: -10%;
  }

  .desc-row{
    margin-top:-5%;
  }

}

/* Laptop / Desktop that's 1024px width */
@media screen and (min-width: 1024px) {
  .episodes-row{
    margin-top:-8%
  }

  .desc-row{
    margin-top:-3%;
  }

  #rect-img{
    margin-top:-9%;
     z-index:2;
  }

  #score-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 25px;
  }

  #anime-score0, #anime-score1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top:-5%;
  }

  #score-row{
    position: absolute;
    top: 8%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: #fff1f1;
  }

  #add-to-list-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: #fff1f1;
  }

  .mobile-score-row{
    display:none;
  }
}

/* Laptop / Desktop that's 1281px width */
@media (min-width: 1281px) {
  .episodes-row{
    margin-top:-5%
  }

  .desc-row{
    margin-top:-1%;
  }

  #rect-img{
    margin-top:-9%;
     z-index:2;
  }

  #score-row{
    position: absolute;
    top: 8%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: #fff1f1;
  }

  #score-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 30px;
  }

  #anime-score0, #anime-score1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top:-5%;
  }


  #add-to-list-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff1f1;
  }

  .mobile-score-row{
    display:none;
  }
}


a{
  color: #fff1f1;
}

a:hover{
  color: #fff1f1;
}

 .desc-row{
   font-family: 'Noto Sans', sans-serif;
   font-weight: normal;
   font-size: 12px;
   margin-bottom: 1%;
 }
